# Server settings
PORT = 4000
CLIENT_URL = http://localhost:5173

# Supabase
SUPABASE_URL = your_supabase_url
SUPABASE_SERVICE_ROLE_KEY = your_supabase_service_role_key
SUPABASE_AVATAR_BUCKET = avatars

# JWT
JWT_SECRET = your_jwt_secret_key
JWT_REFRESH_SECRET = your_jwt_refresh_secret

# Log settings
LOG = All
